/* Custom CSS */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Montserrat", cursive;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Montserrat", cursive;
  font-weight: 300;
  text-transform: uppercase;
}

/* BRAND COLOR: #00A59E FONT: MONTSERRAT */

/* Links */

a:link,
a:visited {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
}

/* Header */

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.34)), to(rgba(0, 0, 0, 0.34))), url(IMG/hero-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url("./shared/pretendBannerImg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  border-radius: 50%;
}

.main-nav {
  margin-top: 70px;
  margin-bottom: 20px;
}

/* Mission---Store */

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.mission {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

/* Footer */

.site-footer {
  background-image: linear-gradient(#00a59e, black);
  padding: 20px 0;
}
