/* Custom CSS */

body {
  font-family: "Montserrat", cursive;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  text-transform: uppercase;
}

/* BRAND COLOR: #00A59E FONT: MONTSERRAT */

/* Reuseable CSS */

.myContainer {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandAcronym {
  color: #00A59E;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 0;
}

/* Links */

a:link,
a:visited {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
}

/* Header */

.mainNav {
  background-color: #4c3144;
  text-align: center;
  color: white;
}

.saleHeader {
  background-color: #272727;
  padding: 10px;
}

.banner {
  background-image: url("./shared/pretendBannerImg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.bannerTextBg {
  background-color: rgba(196, 196, 196, 0.5);
}

.logo {
  border-radius: 50%;
}

/* Mission---Store */

blockquote {
  font-family: Georgia, serif;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float: right;
  font-size: 6em;
  line-height: 1;
  right: 0;
  bottom: -0.5em;
  content: "\201D";
}

.row-content {
  text-align: center;
  width: 100%;
}

.homeSection {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

.missionCard {
  max-height: 200px;
}
/* Footer */

.site-footer {
  background-color: #4c3144 ;
  padding: 20px 0;
  justify-content: center;
}
